body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
}
ul{
  float:right;
  list-style-type: none;
  margin-top: 25px;
}
ul li{
  display :inline-block;
}
ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border:1px solid transparent;
  transition: 0:6s ease;
}
ul li a:hover{
  background-color: #fff;
  color:#000;
}
ul li.active a{
  background-color: #fff;
  color:#000;
}
.box
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background:rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,.5);
    border-radius: 10px;
}
