<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,inital-scale=1">
    <title>webcreations</title>
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static', 'css/MaterialDesign-Webfont-master/css/materialdesignicons.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/MaterialDesign-Webfont-master/css/about.css')}}"/>
</head>
<body style="background-image: url('{{=URL('static', 'images/ses.jpg')}}')";>
                   <ul>
                     <li class="active"><a href="">Home</a></li>
                     <li><a href="{{=URL('aboutus')}}">About Us</a></li>
                     <li><a href="{{=URL('register')}}">Register</a></li>
                  </ul>
    <div class="box" >
          <h2></h2>
         
         <div class="xox">
         	<h1>About Us</h1>
         	<h4>Our Story</h4>

         	<p>This is just our way of inviting you on board to experience ,feel and understand the true nature of the  Holy Spirit.On here we connect,interact and share  a common goal,which  is spreading the gospel.Over the year we became fascinated by the idea of discovering ourselves through appreciating God's creation and  uplifting our spirits in all we do.Register,get connected and uplift your spirit with our motivational sessions and quotes to get you back on track.Trust me,you're so much more than where we met.
         </div>


    </div>      
     <script src="js/jquery.min.js"></script> 
     <script src="js/bootstrap.js"></script>
</body>
</html>

