<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,inital-scale=1">
    <title>Sign up Form</title>
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static', 'css/MaterialDesign-Webfont-master/css/materialdesignicons.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/MaterialDesign-Webfont-master/css/login.css')}}"/>
</head>
<body style="background-image: url('{{=URL('static', 'images/ses.jpg')}}')";>
    <div class="box" >
          <h2>Login Here</h2>
	    <form action="{{=URL('authenticate')}}"  method="post" class="form">
     	
        	<div class="inputBox">
              <input type="text" name="" required="">
              <label>Username</label>
            </div>  
            
            <div class="inputBox">
              <input type="password" name="" required="">
              <label>Password</label>
            </div>  

               <input type="submit" name="" value="Login">
               <a href="{{=URL('homepage()')}}" ></a>
        </form>
    </div>
     <script src="js/jquery.min.js"></script> 
     <script src="js/bootstrap.js"></script>   
</body>
</html>



